*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    padding: 0 15vw;
}

header {
    justify-content: space-between;
}

footer {
    justify-content: space-between;
}

.nav-link {
    color: black !important;
    position: relative !important;
    margin: 0 5px;
    border-radius: 10px;
}

.active {
    background-color: black !important;
    color: white !important;
}

.off:before,
.off:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    background-color: black;
    transition: .5s;
}

.off:after {
    left: 25%;
    bottom: 0;
}

.off:before {
    right: 25%;
    top: 0;
}

.off:hover:after,
.off:hover:before {
    width: 50%;
}


.hello span {
    text-transform: uppercase;
    text-transform: uppercase;
    font-family: 'Rubik Mono One', monospace;
    letter-spacing: -4px;
    display: block;
    font-size: 60px;
    line-height: 60px;
    
    text-align: center;
    color:  transparent;
    -webkit-text-stroke: 1px black;
    background: url(img/back.png);
    -webkit-background-clip:  text;
    background-position: 0 0 ;
    animation: back 200s linear infinite;
}

@keyframes back {
    100%{
        background-position: 20000px 0;
    }
}

