*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    padding: 0 15vw;
}

header {
    justify-content: space-between;

}

footer {
    justify-content: space-between;
}

.nav-link {
    color: black !important;
    position: relative !important;
    margin: 0 5px;
    border-radius: 10px;
}

.active {
    background-color: black !important;
    color: white !important;
}

.off:before,
.off:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    background-color: black;
    transition: .5s;
}

.off:after {
    left: 25%;
    bottom: 0;
}

.off:before {
    right: 25%;
    top: 0;
}

.off:hover:after,
.off:hover:before {
    width: 50%;
}


.hello span {
    text-transform: uppercase;
    text-transform: uppercase;
    font-family: 'Rubik Mono One', monospace;
    letter-spacing: -4px;
    display: block;
    font-size: 60px;
    line-height: 60px;
    
    text-align: center;
    color:  transparent;
    -webkit-text-stroke: 1px black;
    background: url(img/back.png);
    -webkit-background-clip:  text;
    background-position: 0 0 ;
    animation: back 200s linear infinite;
}

@keyframes back {
    100%{
        background-position: 20000px 0;
    }
}


.form {
    margin: 0 15vw;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    padding: 40px;
}

.form-group {
    margin-bottom: 20px;
}

.poisk {
    display: inline-flex;
    justify-content: space-around;
    align-items: end;
    width: 80%;
}

.poisk:first-child {
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    padding: 40px;
}

.poisk:nth-child(2){
    padding-bottom: 0;
    padding-top: 40px
}

.nomer-schet {
    position: relative;
}

th {
    position: relative;
    transition: all linear .3s;
    color: gray;
    cursor: default;
    user-select: none;
}

th.asc,
th.desc {
    color: black;
}

th[data-sort] {
    cursor: pointer;
}

th[data-sort]:before, 
th[data-sort]:after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    right: 0;
    opacity: 0.3;
    border: 6px solid transparent;
}

th[data-sort]:before {
    border-bottom-color: black;
    top: 40%;
}

th[data-sort]:after {
    border-top-color: black;
    top: 65%;
}

th.asc:before,
th.desc:after {
    opacity: 1;
}
